@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import '../node_modules/bulma/css/bulma.css';
@import 'https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css';

* {
  font-family: 'Montserrat', sans-serif;
}

.side-menu{
  position: absolute;
  background: #4444A3;
  background: linear-gradient(145deg, rgb(123, 118, 255) 3%, #4444A3 40%);
  height: calc(100% - 51px);
  left: 0;
  top: 51px;
  width: 40%;    
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 20px;
}



.map-container {
  position: absolute;
  width: 60%;   
  height: calc(100% - 51px);
  background: darkorchid;
  top: 51px;
  left: 40%;
  -webkit-transition: .6s cubic-bezier(.42, 0, 0, .99);
  -moz-transition: .6s cubic-bezier(.42, 0, 0, .99);
  -ms-transition: .6s cubic-bezier(.42, 0, 0, .99);
  -o-transition: .6s cubic-bezier(.42, 0, 0, .99);
  transition: .6s cubic-bezier(.42, 0, 0, .99);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.white {
  color: white!important;
}

.marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  }

  .center-children {
    display: flex;
    justify-content: center;
    align-items: center;
  }
